:root{
    --bg:#282431;
    --text:#F2F2F3;
    --accent:#D97223;
    --important:#163750;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    background:var(--bg);
    color:var(--text);
    line-height:1.6;
}

a{
    color:var(--accent);
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

h1{
    font-size:2.3rem;
    margin-bottom:20px;
}

h2{
    margin-top:40px;
    margin-bottom:10px;
}

p{
    margin-bottom:14px;
}

ul{
    padding-left:20px;
}


.important{
    background:var(--important);
    padding:18px;
    border-radius:8px;
    margin:25px 0;
}

